.main__hero {
  background-image: url("../../images/background.png");
  background-size: cover;
  background-position: center;
  height: 576px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
