.preloader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 282px;
  background-color: #f5f6f7;
  position: relative;
}

.preloader__circle {
  display: block;
  width: 74px;
  height: 74px;
  border: 1px solid #1a1b22;
  border-bottom-color: #d1d2d6;
  border-radius: 50%;
  animation: spin 0.75s infinite linear;
  margin-bottom: 24px;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.preloader__text {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3;
  color: #b6bcbf;
  margin: 0;
}

@media (max-width: 767px) {
  .preloader {
    height: 230px;
  }
}
