.preloader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 282px; /* match design height */
  background-color: #f5f6f7;
  position: relative;
}

.preloader__circle {
  display: block;
  width: 50px;
  height: 50px;
  border: 4px solid #444;
  border-bottom-color: #888;
  border-radius: 50%;
  animation: spin 0.75s infinite linear;
  margin-bottom: 24px;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.preloader__text {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 1.3;
  color: #b6bcbf;
  margin: 0;
}
